<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Invoice</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@200;400;600&display=swap" rel="stylesheet">
</head>
<body>
<div id="root">
    <div style="opacity: 1; will-change: auto;">
        <div class="w-3/5 pt-6 pb-16 px-3 mt-3 rounded second-font border border-slate-200">
            <div class="sc-exkVDC fXoaNB">
                <div class="sc-iMDhdf bJgzxY">
                    <span>RC: <%= data.invoiceNumber %></span>
                </div>
                <div class="sc-loAbOW jnwEuy">
                    <span class="sc-bPZXsP iWNPPN second-font-bold">
                        <%= data.companyName %>
                    </span>
                    <span class="sc-eteQWc gfjeES"><%= data.companyAddress %></span>
                    <span class="sc-bPZXsP iWNPPN">E-Mail:
                        <span class="sc-eteQWc gfjeES"><%= data.email %></span>
                    </span>
                    <span class="sc-bPZXsP iWNPPN">Website:
                        <span class="sc-eteQWc gfjeES"><%= data.website %></span>
                    </span>
                </div>
            </div>
            <div class="sc-gkavYR kuLkzR">AUTHENTICATION TRANSACTIONS INVOICE</div>
            <div class="sc-krqSwS hgeqOK">
                <span class="flex flex-column"><span>
                    <span class="font-bold">Issue Date:</span> <%= data.issueDate %></span>
                    <span><span class="font-bold">Invoice Ref:</span> <%= data.invoiceRef %></span>
                </span>
                <span><span class="font-bold">Due Date: </span> <%= data.dueDate %></span>
            </div>

            <% data.items.forEach(function(item) { %>
                <div class="w-full border border-slate-200 mt-4">
                    <div class="w-full">
                        <div class="sc-SQOaL dmkool">
                            <span class="capitalize second-font-bold"><%= item.name %></span>
                        </div>
                        <table class="w-full table">
                            <thead>
                            <tr>
                                <th>Description</th>
                                <th>Volume</th>
                                <th class="text-center">Unit Fee (<%= data.currency %>)</th>
                                <th class="text-center">Total Fee (<%= data.currency %>)</th>
                                <th class="text-center">Total Fee (NGN)</th>
                            </tr>
                            </thead>
                            <tbody>
                            <% item.transactions.forEach(function(transaction) { %>
                                <tr>
                                    <td><%= transaction.description %></td>
                                    <td><%= transaction.volume %></td>
                                    <td class="text-center"><%= transaction.unitFee %></td>
                                    <td class="text-center"><%= transaction.totalFee %></td>
                                    <td class="text-center"><%= transaction.totalFeeNGN %></td>
                                </tr>
                            <% }); %>
                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="3" class="font-bold italic second-font-bold">Sub-Total - <%= item.name %></td>
                                <td class="font-bold italic"><%= item.subTotal %></td>
                                <td class="font-bold italic"><%= item.subTotalNGN %></td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            <% }); %>

            <table class="w-full table-1 mt-2">
                <tbody>
                <tr>
                    <td colspan="12" class="font-bold">TOTAL FEE (A+B)</td>
                    <td class="font-bold italic text-right"><%= data.totalFee %></td>
                    <td class="font-bold italic text-right"><%= data.totalFeeNGN %></td>
                </tr>
                </tbody>
                <tbody>
                <tr>
                    <td colspan="12" class="font-bold">VAT</td>
                    <td class="font-bold italic text-right"><%= data.vat %></td>
                    <td class="font-bold italic text-right"><%= data.vatNGN %></td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="12" class="font-bold">GRAND TOTAL in NGN (CBN: N<%= data.exchangeRate %>/$1 as @ <%= data.date %>)</td>
                    <td class="font-bold italic text-right"></td>
                    <td class="font-bold italic text-right"><%= data.grandTotalNGN %></td>
                </tr>
                </tfoot>
                <tfoot>
                <tr>
                    <td colspan="12" class="font-bold">GRAND TOTAL in <%= data.currency %></td>
                    <td class="font-bold italic text-right"><%= data.grandTotal %></td>
                    <td class="font-bold italic text-right"></td>
                </tr>
                </tfoot>
            </table>
            <div class="px-2 py-2 font-black border-slate-200 border-b bb-border second-font-bold">AMOUNT IN WORDS:
                <span class="italic font-normal second-font"><%= data.amountInWords %></span>
            </div>
            <div class="px-2 py-2 font-black border-slate-200 border-b second-font-bold">INSTRUCTION:
                <div class="italic font-normal flex gap-4 items-baseline second-font">
                    <span>i.</span>
                    <span> Kindly credit our NGN account with details below with the NGN value above.</span>
                </div>
                <div class="italic font-normal flex gap-4 items-baseline second-font">
                    <span>ii.</span>
                    <span>Please debit our account for the WHT and remit accordingly using the Tax details below.</span>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>

<style>

    /* Custom styling */
    table {
        border-spacing: 0;
    }
    .table thead {
        border: none !important;
    }

    .table th {
        height: 50px;
    }

    .table th:first-child {
        padding-left: 24px;
        text-align: left;
    }

    .table td {
        text-align: right;
        border-bottom: 1px solid #EFF0F4;
    }

    .table th {
        font-family: 'Outfit', "Lora", sans-serif !important;
        border-right: 1px solid #EFF0F4;
        border-bottom: 1px solid #EFF0F4;
        font-weight: 700;
    }

    .table th:last-child, .table td:last-child {
        border-right: none;
    }

    .table td:first-child {
        text-align: left;
        padding-left: 24px;
        width: 40%;
    }

    .table-1 td {
        width: 15.5%;
    }

    .table-1 td:last-child {
        width: 16%;
    }

    .table-1 td:first-child {
        padding-left: 24px;
        width: 60%;
        font-weight: 900;
    }

    .table-1 tr {
        border-top: 1px solid #EFF0F4;
    }

    .table-1 td {
        font-family: 'CustomFontBold', "Lora", sans-serif !important;
        padding-right: 8px;
    }

    @media print {
        body {
            width: 610mm;
            margin: 0;
        }

        table {
            width: 100%;
            table-layout: fixed;
        }

        table th, table td {
            word-wrap: break-word;
            padding: 8px;
        }

        .page-break {
            page-break-before: always;
        }
    }

    .second-font {
        font-family: 'CustomFont', "Lora", 'Poppins', 'sans-serif' !important;
    }

    .second-font-bold {
        font-family: 'CustomFontBold', "Lora", 'Poppins', 'sans-serif' !important;
    }
</style>
