<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invoice Modal</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: "Montserrat", sans-serif;
        }

        body {
            /*background-color: rgba(0, 0, 0, 0.5);*/
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .modal-overlay {
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 1000;
        }

        .modal-content {
            background: #fff;
            width: 100%;
            min-height: 90vh;
            padding: 20px;
            position: relative;
            /*box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);*/
        }

        .close-button {
            position: absolute;
            top: 15px;
            right: 15px;
            background: none;
            border: none;
            font-size: 20px;
            cursor: pointer;
        }

        .title {
            text-align: center;
            font-size: 18px;
            margin-bottom: 10px;
        }

        .invoice-section {
            margin-bottom: 20px;
        }

        .form-group {
            margin-bottom: 15px;
        }

        .form-group label {
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
        }

        .form-group input {
            width: 100%;
            padding: 10px;
            border: 1px solid #ddd;
            border-radius: 5px;
        }

        .flex {
            display: flex;
            gap: 15px;
        }

        .button-group {
            text-align: center;
            margin-top: 20px;
        }

        .button-group button {
            padding: 10px 20px;
            margin: 0 10px;
            border: none;
            border-radius: 5px;
            color: #fff;
            cursor: pointer;
        }

        .button-group button.green {
            background-color: #2ecc71;
        }

        .button-group button.red {
            background-color: #e74c3c;
        }
        .header{
            display: flex;
            flex-direction: column;
            width: 100%;
            /*justify-content: space-between;*/
            /*align-items: center;*/
        }
        .logo-container{
            display: flex;
            width: 100%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
        }
        .logo-container span{
            font-weight: bold;
            bottom: 0px;
            letter-spacing: 1px;
            position: absolute;
        }
        .header-content{
            background: rgb(248, 248, 248);
            border-radius: 16px;
            padding: 12px;
            display: inline-block;
            font-style: italic;
            flex-direction: column;
            gap: 3px;
            flex: 1;
            width: 210px;
            /*max-width: 48%;*/
        }
        .header-content h1{
            font-weight: 500;
            margin-bottom: 8px;
            font-size: 12px;
            color: black;
        }
        .header-content h2{
            font-weight: 500;
            font-size: 10px;
            color: rgb(102, 53, 153);
        }
        .header-content p{
            font-size: 10px;
        }
        .header-content div{
            font-size: 10px;
            display: flex;
            align-items: center;
            gap: 4px;
        }
        .header-content div span{
            color: rgb(102, 53, 153);
            font-weight: 500;
        }
        .title{
            border: 2px solid white;
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
            background: rgb(187, 187, 187);
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px 16px;
            width: 50%;
            text-transform: capitalize;
            color: white;
            font-size: 12px;
            margin: 10px auto 0;
            border-radius: 4px;
        }
        th, td, tr, thead, tfoot, span{
            font-size: 10px;
        }
        .date-container{
            margin: 20px auto 0;
            display: flex;
            justify-content: space-between;
        }

        .date-container h3{
            font-size: 10px;
            font-weight: 400;
        }
        .date-container h3 span {
            font-weight: 500;
        }
        .date-content{
            display: flex;
            flex-direction: column;
            gap: 4px;
        }
        .invoice-container{
            margin-top: 20px;
        }
        .table-header{
            background-color: #f1f1f1;
            padding: 10px;
            font-weight: 500;
            border-radius: 8px  8px 0 0;
            text-transform: capitalize;
            font-size: 10px;
        }
        .table thead{
            font-weight: 400;
            font-size: 10px;
            border: none !important;
        }

        .table th{
            height: 32px;
        }

        .table th:first-child{
            text-align: left;
            padding-left: 8px;
        }

        .table td{
            text-align: right;
            /*padding: 8px 24px;*/
        }

        .table th{
            border-right: 1px solid #EFF0F4;
            border-bottom: 1px solid #EFF0F4;
        }

        .table td:first-child {
            text-align: left;
            padding-left: 24px;
            width: 38%; /* Adjust this value as needed */
        }

        .table td, .table-1 td{
            border-right: 1px solid #EFF0F4;
            /*height: 40px;*/
        }
        .tr-border td{
            border-bottom: 1px solid #EFF0F4;
        }

        tfoot, tfoot tr, tfoot tr td{
            background:  rgb(187, 187, 187);
        }
        tfoot td{
            padding-top: 0;
            padding-bottom: 0;
        }

        .table-1 td{
            width: 15.5%;
        }
        .table-1 td:last-child{
            width: 16%;
        }
        .w-full td:first-child {
            padding: 8px;
            font-weight: 600;
        }

        .table-1 tr{
            border-top: 1px solid #EFF0F4;
        }

        .table-1 td{
            padding-right: 8px;
        }
        .w-full{
            width: 100%;
        }
        .footer-container{
            margin-top: 32px;
            display: flex;
            flex-direction: column;
            gap: 8px;
        }
        .second-font-bold{
            font-weight: 500;
        }
        .container3 {
            max-width: 800px;
            margin: auto;
            background: white;
            border: 1px solid #ccc;
            padding: 20px;
            border-radius: 10px;
        }
        .header3 {
            text-align: center;
            margin-bottom: 20px;
        }
        .heade3r h1 {
            margin: 0;
            color: black;
            text-transform: capitalize;
            text-decoration: underline;
            font-weight: 600;
            font-size: 12px;
            margin-bottom: 10px;
        }
        .details3 {
            margin-bottom: 20px;
        }
        .details3 h2 {
            color: #444;
        }
        .details3 p {
            display: flex;
            align-content: center;
            gap: 8px;
            margin: 5px 0;
        }
        .details3 p strong{
            font-weight: 600;
            font-size: 14px;
        }
        .footer3 {
            text-align: center;
            margin-top: 20px;
            font-size: 10px;
            color: black;
            font-weight: 600;
            font-style: italic;
        }
        .footer3 span{
            color: blue;
            text-decoration: underline;
        }
        .image-container3{
            display: flex;
            align-content: end;
            justify-content: end;
        }
        .header-content-container{
            display: flex !important;
            flex-direction: row !important;
            flex-wrap: nowrap !important;
            gap: 16px;
            justify-content: space-between !important;
            width: 100% !important;
        }
        /* Print-specific styles */
        @media print {
            .container3 {
                page-break-before: always;
            }

            /* Add additional print styles as needed */
            body {
                background: none;
            }

            .modal-overlay {
                background: none;
                position: static;
                display: block;
            }

            .modal-content {
                box-shadow: none;
                min-height: auto;
            }
        }
    </style>
</head>
<body>
<div class="modal-overlay">
    <div class="modal-content">
        <div class="header">
            <div class="logo-container" style="margin-top: -10px">
                <div class="image-container">
                     </div>
                <span>RC: 918111</span>
            </div>
            <div class="header-content-container">
                <div class="header-content">
                    <h1>Bill From: </h1>
                    <h2>Global SJX Limited</h2>
                    <p>Block 3, Plot 57b, Fatai Idowu Arobieke Street,</p>
                    <p>Lekki Phase 1, Lagos</p>
                    <div style="display: flex; gap: 6px"><span>Email: </span><p style="display: inline">talk2us@globalsjxltd.com</p></div>
                    <div style="display: flex; gap: 6px"><span>Website: </span><p style="display: inline">www.globalsjxltd.com</p></div>
                </div>
                <div class="header-content">
                    <h1>Bill To: </h1>
                    <h2><%= clientname %></h2>
                    <div style="display: flex; gap: 6px"><span>Phone: </span><p style="display: inline"><%= phone[0] %></p></div>
                    <div style="display: flex; gap: 6px"><span>Email: </span><p style="display: inline"><%= email[0] %></p></div>
                </div>
            </div>
        </div>
        <% if (invoiceType === "ACS_RBA") { %>
            <h2 class="title">ACS SERVICE INVOICE</h2>
        <% } else if(invoiceType === "RBA_ACS"){ %>
            <h2 class="title">RBA SERVICE INVOICE</h2>
        <% } else if(invoiceType === "ACS_RENTAL"){%>
            <h2 class="title">ACS RENTAL INVOICE</h2>
        <% }else if(invoiceType === "RBA_RENTAL"){%>
            <h2 class="title">RBA RENTAL INVOICE</h2>
        <% } else if(invoiceType === "OUTSOURCING"){%>
            <h2 class="title">OUTSOURCING SERVICE INVOICE</h2>
        <% } else if(invoiceType === "CONSULTATION"){%>
            <h2 class="title">CONSULTATION SERVICE INVOICE</h2>
        <% } else if(invoiceType === "TRAINING"){%>
            <h2 class="title">TRAINING SERVICE INVOICE</h2>
        <% } else if(invoiceType === "LICENSE"){%>
            <h2 class="title">LICENSE INVOICE</h2>
        <% } else{%>
            <h2 class="title">OTHER INVOICE</h2>
        <% } %>
        <div class="date-container">
            <div class="date-content">
                <h3><span>Issue Date: </span><%= transactionDate %></h3>
                <h3><span>Invoice Ref: </span><%= invoiceNo %></h3>
            </div>
            <h3><span>Due Date: </span><%= transactionDueDate %></h3>
        </div>

        <div class="invoice-container">
            <div class="table-container">
                <% if ((data.invoiceType === "ACS_RBA" || data.invoiceType === "RBA_ACS" || data.invoiceType === "ACS_RENTAL" || data.invoiceType === "RBA_RENTAL" || data.invoiceType === "RBA_ACS" || data.invoiceType === "ACS_RENTAL" || data.invoiceType === "RBA_RENTAL") && data.service1.transactions[0].description) { %>
                    <div class="table-header periodDisplay">AUTHENTICATION FEES FOR PERIOD: <%= new Date(data.startDate).toLocaleDateString("en-US", {
                            year: "numeric",
                            month: "long",
                            day: "numeric",
                        }) %> - <%= new Date(data.endDate).toLocaleDateString("en-US", {
                            year: "numeric",
                            month: "long",
                            day: "numeric",
                        }) %></div>
                <% }%>
                    <% if ((data.invoiceType === "ACS_RBA" || data.invoiceType === "RBA_ACS" || data.invoiceType === "ACS_RENTAL" || data.invoiceType === "RBA_RENTAL" || data.invoiceType === "RBA_ACS" || data.invoiceType === "ACS_RENTAL" || data.invoiceType === "RBA_RENTAL") && data.service1.transactions[0].description) { %>
                    <table class="w-full table">
                    <thead>
                    <tr>
                        <th>Description</th>
                        <th>Volume</th>
                    <th class="text-center">Unit Fee (<%= currency === "USD" ? "$" : currency === "NGN" ? "N" : "E" %>)</th>
                    <th class="text-center">Total Fee (<%= currency === "USD" ? "$" : currency === "NGN" ? "N" : "E" %>)</th>
                    <% if (currency !== 'NGN') { %>
                    <th class="text-center">Total Fee (N)</th>
                    <% } %>
                    </tr>
                    </thead>
                    <tbody>
                    <% data.service1.transactions.forEach(transaction => { %>
                    <tr>
                        <td><%= transaction.description %></td>
                        <td><%= transaction.volume.toLocaleString() %></td>
                        <td class="text-center"><%= transaction.unitfee_usd.toLocaleString(("en-US", {
                                year: "numeric",
                                month: "long",
                                day: "numeric"})) %></td>
                        <td class="text-center"><%= transaction.totalfee_usd.toLocaleString(("en-US", {
                                    year: "numeric",
                                    month: "long",
                                    day: "numeric"}))%></td>
                        <% if (currency !== 'NGN') { %>
                        <td class="text-center"><%= transaction.totalfee_ngn.toLocaleString(("en-US", {
                                    year: "numeric",
                                    month: "long",
                                    day: "numeric"})) %></td>
                        <% } %>
                    </tr>
                    <% }) %>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="3" class="font-bold italic">Sub-Total - A</td>
                        <td class="font-bold italic"><%= data.service1.serviceTotalFeeUsd.toLocaleString(("en-US", {
                                    year: "numeric",
                                    month: "long",
                                    day: "numeric"})) %></td>
                        <% if (data.currency !== 'NGN') { %>
                        <td class="font-bold italic"><%= data.service1.serviceTotalFeeNgn.toLocaleString(("en-US", {
                                    year: "numeric",
                                    month: "long",
                                    day: "numeric"})) %></td>
                        <% } %>
                    </tr>
                    </tfoot>
                    </table>
                    <% }%>
                </div>
                    <div class="table-container">
                        <% if ((data.invoiceType === "ACS_RBA" || data.invoiceType === "RBA_ACS" || data.invoiceType === "ACS_RENTAL" || data.invoiceType === "RBA_RENTAL" || data.invoiceType === "RBA_ACS" || data.invoiceType === "ACS_RENTAL" || data.invoiceType === "RBA_RENTAL") && data.service2.transactions[0].description) { %>
                            <div class="table-header periodDisplay"><%= data.period %> HOSTING FEE FOR PERIOD: <%= new Date(data.startDate).toLocaleDateString("en-US", {
                                    year: "numeric",
                                    month: "long",
                                    day: "numeric",
                                }) %> - <%= new Date(data.endDate).toLocaleDateString("en-US", {
                                    year: "numeric",
                                    month: "long",
                                    day: "numeric",
                                }) %></div>

                        <table class="w-full table">
                            <thead>
                            <tr>
                                <th>Description</th>
                                <th>Volume</th>
                                <th class="text-center">Unit Fee  (<%= currency === "USD" ? "$" : currency === "NGN" ? "N" : "E" %>)</th>
                                <th class="text-center">Total Fee  (<%= currency === "USD" ? "$" : currency === "NGN" ? "N" : "E" %>)</th>
                                <% if (currency !== 'NGN') { %>
                                    <th class="text-center">Total Fee (N)</th>
                                <% } %>
                            </tr>
                            </thead>
                            <tbody>
                            <% data.service2.transactions.forEach(transaction => { %>
                                <tr>
                                    <td><%= transaction.description %></td>
                                    <td><%= transaction.volume.toLocaleString() %></td>
                                    <td class="text-center"><%= transaction.unitfee_usd.toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2}) %></td>
                                    <td class="text-center"><%= transaction.totalfee_usd.toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2}) %></td>
                                    <% if (currency !== 'NGN') { %>
                                        <td class="text-center"><%= transaction.totalfee_ngn.toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2}) %></td>
                                    <% } %>
                                </tr>
                            <% }) %>
                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="3" class="font-bold italic">Sub-Total - B</td>
                                <td class="font-bold italic"><%= data.service2.serviceTotalFeeUsd.toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2}) %></td>
                                <% if (data.currency !== 'NGN') { %>
                                    <td class="font-bold italic"><%= data.service2.serviceTotalFeeNgn.toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2}) %></td>
                                <% } %>
                            </tr>
                            </tfoot>
                        </table>
                            <% }%>
                    </div>
            <div class="table-container">
                <% if (data.invoiceType === "OUTSOURCING" || data.invoiceType === "CONSULTATION" || data.invoiceType === "TRAINING" || data.invoiceType === "LICENSE") { %>
                    <div class="table-header periodDisplay">MONTHLY <% data.invoiceType %> FOR PERIOD: <%= new Date(data.startDate).toLocaleDateString("en-US", {
                            year: "numeric",
                            month: "long",
                            day: "numeric",
                        }) %> - <%= new Date(data.endDate).toLocaleDateString("en-US", {
                            year: "numeric",
                            month: "long",
                            day: "numeric",
                        }) %></div>

                    <table class="w-full table">
                        <thead>
                        <tr>
                            <th>Description</th>
                            <th>Count</th>
                            <th class="text-center">Unit Fee (<%= currency === "USD" ? "$" : currency === "NGN" ? "N" : "E" %>)</th>
                            <th class="text-center">Total Fee (<%= currency === "USD" ? "$" : currency === "NGN" ? "N" : "E" %>)</th>
                            <% if (currency !== 'NGN') { %>
                                <th class="text-center">Total Fee (N)</th>
                            <% } %>
                        </tr>
                        </thead>
                        <tbody>
                        <% data.roles.forEach(transaction => { %>
                            <tr>
                                <td><%= transaction.name %></td>
                                <td><%= transaction.count %></td>
                                <td class="text-center"><%= transaction.unit_fee.toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2}) %></td>
                                <td class="text-center"><%= transaction.total_fee.toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2}) %></td>
                                <% if (currency !== 'NGN') { %>
                                    <td class="text-center"><%= (transaction.total_fee * data.rate).toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2}) %></td>
                                <% } %>
                            </tr>
                        <% }) %>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="3" class="font-bold italic">Sub-Total</td>
                            <td class="font-bold italic"><%= data.totalInvoiceFee_ngn.toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2}) %></td>
                            <% if (data.currency !== 'NGN') { %>
                                <td class="font-bold italic"><%= data.totalInvoiceFee_usd.toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2})%></td>
                            <% } %>
                        </tr>
                        </tfoot>
                    </table>
                <% }%>
            </div>
            <table class="w-full table mt-2">
                <tbody>
                <tr class="tr-border">
                    <td colspan="4" class="font-bold">TOTAL FEE (A+B)</td>
                    <% if (data.invoiceType === "ACS_RBA" || data.invoiceType === "RBA_ACS" || data.invoiceType === "ACS_RENTAL" || data.invoiceType === "RBA_RENTAL") { %>
                        <td class="font-bold text-right"><%= data.totalInvoiceFee_usd.toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2}) %></td>
                        <% if (data.currency !== 'NGN') { %>
                            <td class="font-bold text-right"><%= data.totalInvoiceFee_ngn.toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2}) %></td>
                        <% } %>
                    <% } %>
                    <% if (data.invoiceType === "OUTSOURCING" || data.invoiceType === "CONSULTATION" || data.invoiceType === "TRAINING" || data.invoiceType === "LICENSE") { %>
                        <td class="font-bold text-right"><%= data.totalInvoiceFee_ngn.toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2}) %></td>
                        <% if (data.currency !== 'NGN') { %>
                            <td class="font-bold text-right"><%= data.totalInvoiceFee_usd.toLocaleString() %></td>
                        <% } %>
                    <% } %>

                </tr>
                <tr class="tr-border">
                    <td colspan="4" class="font-bold">VAT</td>
                    <% if (data.invoiceType === "ACS_RBA" || data.invoiceType === "RBA_ACS" || data.invoiceType === "ACS_RENTAL" || data.invoiceType === "RBA_RENTAL") { %>
                        <td class="font-bold text-right"><%= ((data.vat/100) * data.totalInvoiceFee_usd).toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2})  %></td>
                        <% if (data.currency !== 'NGN') { %>
                            <td class="font-bold text-right"><%= ((data.vat/100) * data.totalInvoiceFee_ngn).toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2}) %></td>
                        <% } %>
                    <% } %>
                    <% if (data.invoiceType === "OUTSOURCING" || data.invoiceType === "CONSULTATION" || data.invoiceType === "TRAINING" || data.invoiceType === "LICENSE") { %>
                        <td class="font-bold text-right"><%= ((data.vat/100) * data.totalInvoiceFee_ngn).toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2}) %></td>
                        <% if (data.currency !== 'NGN') { %>
                            <td class="font-bold text-right"><%= ((data.vat/100) * data.totalInvoiceFee_usd).toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2})  %></td>
                        <% } %>
                    <% } %>
                </tr>
                </tbody>
            </table>
            <table class="w-full table mt-2">
                <tr class="tr-border">
                    <td colspan="5" class="font-bold" style="width: 80%">GRAND TOTAL in <%= data.currency %></td>
                    <% if (data.invoiceType === "ACS_RBA" || data.invoiceType === "RBA_ACS" || data.invoiceType === "ACS_RENTAL" || data.invoiceType === "RBA_RENTAL") { %>
                        <td class="font-bold text-right" style="width: 20%; text-align: right"><%= data.totalInvoiceFeePlusVat_usd.toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2}) %></td>
                    <% } %>
                    <% if (data.invoiceType === "OUTSOURCING" || data.invoiceType === "CONSULTATION" || data.invoiceType === "TRAINING" || data.invoiceType === "LICENSE") { %>
                        <td class="font-bold text-right" style="width: 20%; text-align: right"><%= data.totalInvoiceFeePlusVat_ngn.toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2}) %></td>
                    <% } %>
                </tr>
                <% if (data.currency !== 'NGN') { %>
                    <tr class="tr-border">
                        <td colspan="5" class="font-bold" style="width: 80%">GRAND TOTAL in NGN
                            <span>(CBN: N <%= data.rate %> /$1 as @ <%= new Date(data.cbnratedate).toLocaleDateString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2}) %>)</span>
                        </td>
                        <% if (data.invoiceType === "ACS_RBA" || data.invoiceType === "RBA_ACS" || data.invoiceType === "ACS_RENTAL" || data.invoiceType === "RBA_RENTAL") { %>
                            <td class="font-bold text-right" style="width: 20%; text-align: right"><%= (((data.vat/100) * data.totalInvoiceFee_ngn) + data.totalInvoiceFee_ngn).toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2})  %></td>
                        <% } %>
                        <% if (data.invoiceType === "OUTSOURCING" || data.invoiceType === "CONSULTATION" || data.invoiceType === "TRAINING" || data.invoiceType === "LICENSE") { %>
                            <td class="font-bold text-right" style="width: 20%; text-align: right"><%= (((data.vat/100) * data.totalInvoiceFee_ngn) + data.totalInvoiceFee_ngn).toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2}) %></td>
                        <% } %>
                    </tr>
                <% } %>

            </table>

        </div>
        <div class="footer-container">
            <div class="px-2 py-2 font-black border-slate-200 border-b bb-border second-font-bold" style="font-size: 12px; font-weight: 500">AMOUNT IN WORDS:
                <span class="italic font-normal second-font"><%= data.amountInWords %></span>
            </div>
            <div class="px-2 py-2 font-black border-slate-200 border-b second-font-bold" style="font-size: 12px; font-weight: 500">INSTRUCTION:
                <div class="italic font-normal flex gap-4 items-baseline second-font">
                    <span>i.</span>
                    <span> Kindly credit our NGN account with details below with the NGN value above.</span>
                </div>
                <div class="italic font-normal flex gap-4 items-baseline second-font">
                    <span>ii.</span>
                    <span>Please debit our account for the WHT and remit accordingly using the Tax details below.</span>
                </div>
            </div>
        </div>



    </div>
</div>
<div class="container3">
    <div class="image-container3">
        </div>
    <div class="header3">
        <h1 style="font-size: 14px">Account Details</h1>
    </div>
    <div class="details3">
        <p style="font-size: 12px"><strong>Name:</strong> <%= accountName %></p>
        <p style="font-size: 12px"><strong>Number:</strong> <%= accountNumber %></p>
        <p style="font-size: 12px"><strong>Bank:</strong> <%= bankName %></p>
    </div>
    <div class="header3">
        <h1 style="font-size: 14px">Tax Details</h1>
    </div>
    <div class="details3">
        <p style="font-size: 12px"><strong>Name:</strong> Global SJX Limited</p>
        <p style="font-size: 12px"><strong>VAT Number:</strong> 10582697-0001</p>
    </div>
    <div class="footer3">
        <p>(Kindly remit VAT to the above number and send remittance advices to <span>accounts@globalsjxltd.com</span>)</p>
    </div>
</div>
</body>
</html>
<script>
	function updatePeriodText() {
		let date = '<%= transactionDate %>';
		const period = '<%= data.period %>';
		date = new Date(date)
		let startDate, endDate;

		if (period === 'monthly') {
			// Calculate the previous month's start and end dates
			const firstDay = new Date(date.getFullYear(), date.getMonth() - 1, 1);
			const lastDay = new Date(date.getFullYear(), date.getMonth(), 0);
			startDate = firstDay.toLocaleDateString('en-US', { day: 'numeric', month: 'long', year: 'numeric' });
			endDate = lastDay.toLocaleDateString('en-US', { day: 'numeric', month: 'long', year: 'numeric' });
		} else if (period === 'quarterly') {
			// Calculate the previous quarter's start and end dates
			const quarterStartMonth = Math.floor((date.getMonth() - 3) / 3) * 3;
			const firstDay = new Date(date.getFullYear(), quarterStartMonth, 1);
			const lastDay = new Date(date.getFullYear(), quarterStartMonth + 3, 0);
			startDate = firstDay.toLocaleDateString('en-US', { day: 'numeric', month: 'long', year: 'numeric' });
			endDate = lastDay.toLocaleDateString('en-US', { day: 'numeric', month: 'long', year: 'numeric' });
		} else if (period === 'annually') {
			// Calculate the previous year's start and end dates
			const firstDay = new Date(date.getFullYear() - 1, 0, 1);
			const lastDay = new Date(date.getFullYear() - 1, 11, 31);
			startDate = firstDay.toLocaleDateString('en-US', { day: 'numeric', month: 'long', year: 'numeric' });
			endDate = lastDay.toLocaleDateString('en-US', { day: 'numeric', month: 'long', year: 'numeric' });
		}
		document.querySelectorAll('.periodDisplay').forEach(element => {
			element.textContent = ` ${startDate} - ${endDate}`;
		});
	}
	document.addEventListener("DOMContentLoaded", updatePeriodText);
</script>
